* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 30px;
    margin: 0;
    background-color: #f9f0e6;
}

.grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    position: relative;
    height: calc(100%/3);
    width: 25%;
    background-color: #FCD7AD;
    padding: 20px;
    overflow: hidden;
    font-size: 22pt;
    color: #5f4a48;
    font-family: 'VT323', monospace;
}

/************ navigation ***************/
.navigation-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

nav {
    background: none repeat scroll 0 0 rgba(255,255,255,0.9);
    position: absolute;
    z-index: 2001;
    width: 35.714vw;
    height: 0;
    left: calc(50% - 17.857vw);
    display: block;
    overflow: hidden;
}

nav::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -5px;
}

nav ul a {
    padding: 35px 0;
    display: block;
    color: #413231;
    font-size: 2.25rem;
    text-align: center;
    font-family: 'VT323', monospace;
}

nav > ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    list-style: none;
}

.menutoggle {
    background-position: -228px -10px;
    display: block;
    height: 31px;
    left: calc(50% - 31px);
    margin: 0 auto;
    position: absolute;
    top: 50px;
    width: 64px;
    z-index: 2002;
    text-align: center;
    text-decoration: none;
    color: #bdb5b5;
    font-size: 15pt;
}

.nav-toggle-container {
    position: absolute;
    z-index: 3000;
    width: 100%;
    right: 0;
    text-align: center;
}

.nav-toggle {
    display: inline-block;
    width: 50px;
    height: 30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; 
    border-top: 30px solid #f9f0e6;  
}

.three-lines-container {
    position: absolute;
    height: 20px;
    width: 23px;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.three-lines-container div {
    height: 2px;
    width: 100%;
    background-color: #413231;
    margin-top: 2px;
}

/*************** boxes ******************/
#two, #six, #eleven {
    cursor: pointer;
}

#one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* icon  */
#one div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #5296A5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 10px dashed #FCD7AD;
}

.two-question-exclaimation {  /** question and exclaimation */
    position: absolute;
    top: 45px;
    width: 55%;
    margin: 0 auto;
    left: 0;
    font-size: 25pt;
    right: 0;
}

.question, .exclaimation {
    opacity: 0;
}

.question {
    float: right;
}

.two-img {
    display: block;
    width: 65px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    bottom: -30%;
    background-image: url('./img/about_me.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
    transform: scale(1.4);
}

.six-img {
    display: block;
    width: 65px;
    min-height: 55px;
    margin: 0 auto;
    position: relative;
    bottom: -30%;
    background-image: url('./img/laptop_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
    transform: scale(1.4);
}


#six, #eleven {
    color: #FCD7AD;
}

.eleven-fly-trail {
    display: block;
    width: 30px;
    height: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 38%;
    background-image: url('./img/fly.png');
    background-size: contain;
    left: calc(50% - 15px);
}

#seven {
    position: relative;
}

#seven p {
    position: absolute;
    bottom: 20px;
    text-align: right;
    padding-left: inherit;
    padding-right: inherit;
    right: 0;
}

.eleven-img {
    display: block;
    width: 55px;
    min-height: 55px;
    margin: 0 auto;
    position: relative;
    bottom: -30%;
    background-image: url('./img/owl_icon2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
    transform: scale(1.4);
}

/***************** utility  ****************/

.underline-wrapper {
    position: relative;
    bottom: -45%;
    text-align: center;
}

.underline-wrapper div {
    display: inline-block;
}

.underline {
    display: block;
    height: 2px;
    margin: 3px auto;
    width: 0;
    background-color: #413231;
}

.underline2 {
    display: block;
    height: 2px;
    margin: 3px auto;
    width: 0;
    background-color: #A57548;
}

.hidden {
    display: none;
}

.z-index {
    z-index: 2000;
}


/*********** color and patterns ***********/
.light {
    background-color: #F6C28B;
}

.medium {
    background-color: #A57548;
}

.dark {
    background-color: #413231;
}

.dark-blue {
    background-color: #5296A5;
}

.patterns1 {
    background-image: url('./img/pattern1.png');
    background-size: cover;
}

/************ animation ***************/
 .animation-underline {
    animation: underline 1.0s;
    width: 100%;
}

 @keyframes underline {
    from { width: 0; }
    to { width: 100%;}
}

.animation-remove-underline {
    animation: removeUnderline 1.0s;
    width: 0;
}

 @keyframes removeUnderline {
    from { width: 100%; }
    to { width: 0;}
}

/********* size *********/
.animation-size-exclaimation {
    animation: size 3s infinite linear ;
    opacity: 0;
}

@keyframes size {
    50% { font-size: 20pt; opacity: 0; }
    65% { font-size: 25pt; opacity: 1; }
    75% { font-size: 30pt; opacity: 1; }
    88% { font-size: 25pt; opacity: 1; }
    100% { opacity: 0 }
}

.animation-size-question {
    animation: sizeAlt 3s infinite linear ;
    opacity: 1;
}

@keyframes sizeAlt {
    0% { font-size: 20pt; opacity: 0 }
    15% { font-size: 25pt; opacity: 1 }
    25% { font-size: 30pt; }
    38% { font-size: 25pt; opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 0 }
}

/****** move left-right *****/
.animation-movement {
    animation: movement 2.5s infinite alternate linear;
}

@keyframes movement {
    0% { left: 0; }
    25% { left: -30px; }
    50% { left: 0; }
    75% { left: 30px; }
    100% { left: 0; } 
}

/****** rotate  **********/
.animation-rotate {
    animation: rotate 4.0s infinite linear;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/****** fly ***********/
.animation-fly {
    animation: fly 1.5s linear;
    bottom: 100%;
}

@keyframes fly {
    0% { bottom: -30%; }
    15% { bottom: -35%; }
    100% { bottom: 100%; }
}

/********* fly trail ******/
.animation-fly-trail {
    animation: height 1.7s ease-in-out;
    height: 100%;
}

.animation-height {
    animation: height 0.8s ease-in-out;
    height: 100%;
}

@keyframes height {
    from { height: 0; }
    to { height: 100%; }
}

.animation-remove-height {
    animation: removeHeight 0.8s ease-in-out;
    height: 0;
}

@keyframes removeHeight {
    from { height: 100%; }
    to { height: 0; }
}

/****** opacity *******/
.animation-opacity {
    animation: opacity 1.0s linear;
    opacity: 1;
}

@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}