@media only screen and (max-width: 1000px) {
    .project-detail > p {
        margin-bottom: 20px;
        font-size: 16pt;
    }
}

@media only screen and (max-height: 850px) {
    .bottom-nav {
        height: 100px;
    }

    .arrow-img {
        background-size: 70% 60px;
    }
}

@media only screen and (max-height: 700px) { 
    .left-container, .right-container {
        height: 650px;
    }
}

@media only screen and (max-width: 850px) {
    body {
        padding: 15px;
    }

    .left-container {
        width: 100%;
        height: 35%;
    }

    .left-container {
        display: flex;
        flex-direction: column;
    }

    .left-container > p {
        padding: 35px 10px 15px;
        font-size: 22pt;
        height: 28%;
        background-color: #d6cfcd;
    }

    .left-bottom {
        top: initial;
        height: 72%;
    }

    .project {
        padding: 20px;
        top: 200%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .project > h2 {
        font-size: 16pt;
        margin: 20px auto 10px;
    }

    .technology {
        font-size: 16pt;
        margin-bottom: 30px;
    }

    .project-link {
        font-size: 14pt;
        padding: 3pt;
        display: inline-block;
        width: 120px;
    }

    /* right  */
    .right-container {
        width: 100%;
        height: 65%;
    }

    .move-down2, .moveUp2, .active2 {
        top: 10px;
    } 

    .active, .move-down4, .move-up4 {
        top: 0px;
    }

    /* bottom nav */
    .bottom-nav {
        height: 23%;
    }

    .arrow-img {
        background-size: 70% 60%;
    }

    /* animation  */

    @keyframes moveUp {
        from { top: 10px }
        to { top: -200% }
    }

    @keyframes moveUp2 {
        from { top: 200% }
        to { top: 10px }
    }

    @keyframes moveUp3 {
        from { top: 0 }
        to { top: -200% }
    } 

    @keyframes moveUp4 {
        from { top: 200% }
        to { top: 0 }
    }

    @keyframes moveDown {
        from { top: 10px }
        to { top: 200% }
    }

    @keyframes moveDown2 {
        from { top: -200% }
        to { top: 10px }
    }

    @keyframes moveDown3 {
        from { top: 0 }
        to { top: 200% }
    }

    @keyframes moveDown4 {
        from { top: -200% }
        to { top: 0 }
    }

}

@media only screen and (max-width: 500px) {
    .left-container {
        height: 45%;
    }

    .right-container {
        height: 55%;
    }

    .left-container > p {
        padding: 30px 10px 15px;
        font-size: 16pt;
    }

    .move-down2, .moveUp2, .active2 {
        top: 25px;
    } 

    .project > h2 {
        font-size: 14pt;
        margin: 10px 5px;
    }

    .technology {
        font-size: 12pt;
        margin: 5px 5px 10px;
    }

    .project-link {
        font-size: 12pt;
        padding: 2pt;
        width: 100px;
    }

    .project-detail > p{
        display: none;
    }

    .active, .move-down4, .move-up4 {
        padding: 5px;
    }

    .bottom-nav {
        height: 20%;
    }

    .up, .down {
        width: 20px;
        height: 20px;
    }

    .up {
        border-top: 2px solid black;
        border-left: 2px solid black;
    }

    .down {
        border-bottom: 2px solid black;
        border-right: 2px solid black;
    }

    @keyframes moveUp {
        from { top: 25px }
        to { top: -200% }
    }

    @keyframes moveUp2 {
        from { top: 200% }
        to { top: 25px }
    }

    @keyframes moveUp3 {
        from { top: -25px }
        to { top: -200% }
    }

    @keyframes moveDown {
        from { top: 25px }
        to { top: 200% }
    }

    @keyframes moveDown2 {
        from { top: -200% }
        to { top: 25px }
    }

}

@media only screen and (max-width: 750px) and (orientation: landscape) {
    .left-container {
        height: 85%;
    }

    .right-container {
        height: 15%;
    }
    
    .project-detail {
        display: none;
    }

    .bottom-nav {
        height: 100%;
    }
}