/*********** left-container ********/
.left-container {
    height: 100%;
    background-color: #dadada;
    width: 50%;
    font-family: 'VT323', monospace;
    z-index: 1000;
}

/*** left top ***/
.left-top {
    display: flex;
}

.about-me {
    width: 50%;
    height: 100%;
    padding: 40px;
    text-align: center;
    font-size: 30pt;
    color: #06414e;
}

.profile-img-container {
    width: 50%;
}

img {
    width: 100%;
}

/*** left bottom ***/
.left-bottom {
    padding-left: 50%;
    padding-right: 20px;
}

.header {
    font-size: 28pt;
    color: #06414e;
}

.description {
    font-size: 16pt;
    color: #5f4a48; 
}

/********** right-container ********/
.right-container {
    position: relative;
    height: 100%;
    background-color: #d6cfcd;
    width: 50%;
    font-family: 'VT323', monospace;
    padding: 10px 40px;
    overflow-y: auto;
}

.header2{
    font-size: 18pt;
    color: #a5142d;
    margin: 30px 0 10px;
}

.description2 {
    font-size: 16pt;
    color: #413231;
    margin: 10px 0 20px;
}

.z-index {
    z-index: 2000;
}