/*********** left-container ********/
.left-container {
    position: relative;
    height: 100%;
    background-color: #dadada;
    width: 50%;
    font-family: 'VT323', monospace;
}

.left-container > p {
    padding: 80px;
    font-size: 30pt;
    text-align: center;
    color: #06414e;
    margin: 0;
}

.left-bottom {
    overflow: hidden;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%;
    bottom: 0;
}

.project {
    height: 100%;
    position: absolute;
    width: 100%;
    padding: 40px;
    top: 100%;
}

.project > h2 {
    font-size: 28pt;
    margin: 10px;
}

.technology {
    font-size: 18pt;
    border-top: 2px solid #d6cfcd;
    border-bottom: 2px solid #d6cfcd;
    color: #a5142d;
    padding: 10px;
    margin-bottom: 60px;
}

.project-link {
    text-decoration: none;
    padding: 15px;
    border: 2px solid #bfabaa;
    font-size: 15pt;
    padding: 5pt;
    display: block;
    margin: 0 auto 20px;
    width: 200px;
    color: #413231;
}

.project-link:hover {
    border-color: #5296A5;
}


/********** right-container ********/
.right-container {
    position: relative;
    height: 100%;
    background-color: #d6cfcd;
    width: 50%;
    padding-top: 40pt;
    font-family: 'VT323', monospace;
    overflow: hidden;
}

.project-detail {
    position: absolute;
    height: 60%;
    top: -110%;
    left: 0;
    right: 0;
}

.project-detail > p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18pt;
    padding: 0 20px;
}

/* project images  */
.project-img {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.founding-speeches {
    background-image: url('../img/founding-speeches.jpg');
}

.friend-alert {
    background-image: url('../img/friend-alert.png');
}

.represented {
    background-image: url('../img/represented.png');
}

.icon-1 {
    background-image: url('../img/founding-speeches-icon.png');
}

.icon-2 {
    background-image: url('../img/friend-alert-icon.png');
}

.icon-3 {
    background-image: url('../img/represented-icon.png');
}

/* navigation  */
.bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    z-index: 0;
}

.arrow {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: #c1bab8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow:hover {
    background-color: #a79f9d;
}

.arrow-img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 80% 70px;
    margin: 0 auto;
    background-position: center;
    opacity: 0.4;
    transition: opacity ease-in-out 0.5s;
}

.arrow-img:hover {
    opacity: 1;
}

.two {
    right: 0;
}

.up, .down {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    position: absolute;
}

.up {
    border-top: 4px solid black;
    border-left: 4px solid black;
}

.down {
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}

/*** utility ****/

.z-index {
    z-index: 2000;
}

.active {
    top: 0;
}

.active2 {
    top: 40px;
}

.hidden {
    display: none;
}

/*** animation ***/
.move-up {
    top: -200%;
    animation: moveUp ease-in-out 0.5s;
}

@keyframes moveUp {
    from { top: 40px }
    to { top: -200% }
}

.move-up2 {
    top: 40px;
    animation: moveUp2 ease-in-out 0.5s; 
}

@keyframes moveUp2 {
    from { top: 200% }
    to { top: 40px }
}

.move-up3 {
    top: -100%;
    animation: moveUp3 ease-in-out 0.5s;
}

@keyframes moveUp3 {
    from { top: 0 }
    to { top: -200% }
}

.move-up4 {
    top: 0;
    animation: moveUp4 ease-in-out 0.5s; 
}

@keyframes moveUp4 {
    from { top: 200% }
    to { top: 0 }
}

.move-down {
    top: 110%;
    animation: moveDown ease-in-out 0.5s;
}

@keyframes moveDown {
    from { top: 40px }
    to { top: 200% }
}

.move-down2 {
    top: 40px;
    animation: moveDown2 ease-in-out 0.5s; 
}

@keyframes moveDown2 {
    from { top: -200% }
    to { top: 40px }
}

.move-down3 {
    top: 100%;
    animation: moveDown3 ease-in-out 0.5s;
}

@keyframes moveDown3 {
    from { top: 0px }
    to { top: 200% }
}

.move-down4 {
    top: 0;
    animation: moveDown4 ease-in-out 0.5s; 
}

@keyframes moveDown4 {
    from { top: -200% }
    to { top: 0 }
}